:root {
    --air-blue: #77A8BB;
    --jonquil: #FFC905;
    --latte: #FFF7E2;
    --white: #fff;
    --black: #000;
    --accent: var(--jonquil);
    --accent2: var(--air-blue);
    --secondary: var(--latte);
    --m-text: var(--black);
    --m-bg: var(--white);
    --text: "proxima-nova", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--text);
}

.full-h {
    height: calc(100vh - 80px);
}

.logo {
    background-image: url('img/cw_logo-2.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 165px;
    height: 24px;
}

.cta-button {
    background: var(--accent);
    color: var(--m-text);
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
}

header {
    background: var(--m-bg);
    position: fixed;
    width: 100vw;
    height: 50px;
    top: 0;
    left: 0;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    z-index: 999;
}

.hero {
    background: url('img/Ambote-CharityWater-09114.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 50px;
    color: var(--m-bg);
}

.hero-container {
    position: absolute;
    bottom: 50px;
    box-sizing: border-box;
    padding-left: 20px;
    width: 95%;
}

.hero h1 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 3.75rem;
    line-height: 1;
}

@media (min-width: 1024px) {
    .hero-container {
        width: 70%;
    }
    .hero h1 {
        font-size: 4.75rem;
    }
}

.hero h2 {
    font-weight: lighter;
    margin-bottom: 10px;
}

.whywater {
    background: var(--m-bg);
    position: relative;
}

.whytext {
    width: 100%;
    height: calc(100% - 400px);
    margin-top: 200px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    gap: 20px;
}

@media (min-width: 768px) {
    .whywater {
        display: flex;
        justify-content: center;
    }
    .whytext {
        width: 500px;
    }
}

.whytext h1 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 2.1rem;
    line-height: 1;
    letter-spacing: 2px;
}

.whytext h1 strong {
    color: var(--accent);
}

.whytext h2 {
    font-weight: normal;
}

.whycollage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    gap: 20px;
}

.collage-hor {
    display: flex;
    height: 200px;
    align-items: stretch;
}

.collage-hor img {
    width: auto;
    height: 100%;
    object-fit: cover;
}

.collage-mid {
    display: none;
    height: 100%;
}

.collage-ver {}

.collage-ver img {
    width: 200px;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 768px) {
    .collage-hor {
        gap: 20px;
    }
}

@media (min-width: 1024px) {
    .collage-mid {
        display: block;
        display: flex;
        justify-content: space-between;
    }
}

.difference {
    background: var(--secondary);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 30px;
    gap: 50px;
}

@media (min-width: 1024px) {
    .difference {
        flex-direction: row;
        align-items: center;
    }
}

.left-diff {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px
}

.left-diff h1 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1;
    letter-spacing: 2px;
}

.left-diff p {
    font-size: 1.5rem;
}

.right-diff {
    background: var(--accent2);
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
}

.call-to-action {
    background: var(--m-bg);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.cta-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-items: start;
    gap: 30px;
}

.call-to-action p {
    font-size: 1.8rem;
    width: 200px;
}