:root {
    --air-blue: #77A8BB;
    --jonquil: #FFC905;
    --latte: #FFF7E2;
    --white: #fff;
    --black: #000;
    --accent: var(--jonquil);
    --accent2: var(--air-blue);
    --secondary: var(--latte);
    --m-text: var(--black);
    --m-bg: var(--white);
    --text: 'Proxima Nova';
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--text);
}

.full-h {
    height: calc(100vh - 80px);
}


/* Media Queries for full-h when >  ipad
 height: calc(100vh - 20px);

*/

.cta-button {
    background: var(--accent);
    color: var(--m-text);
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
}

header {
    background: var(--m-bg);
    position: fixed;
    width: 100vw;
    height: 50px;
    top: 0;
    left: 0;
}


/* Media Queries for header when >  ipad
 width: 50px;
    height: 100vh;
    right: 0;
    top: 0;

*/

.hero {
    background: red;
    margin-top: 50px;
}


/* Media Queries for hero when >  ipad
  margin-top: 0px;
  width:calc(100vw - 50px);

*/

.whywater {
    background: blue;
}


/* Media Queries for whywater when >  ipad
  width:calc(100vw - 50px);

*/

.difference {
    background: green;
}


/* Media Queries for difference when >  ipad
  width:calc(100vw - 50px);

*/

.call-to-action {
    background: violet;
}


/* Media Queries for call-to-action when >  ipad
  width:calc(100vw - 50px);

*/